---
loc: Devon
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		body{
			margin:0;
			min-height:100vh;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background:#222;
		}
		nav{
			padding:10px;
			min-height:50px;
			background:#bfb;
		}
		nav ul{
			display: flex;
		} 
		nav ul li{
			margin:0px 20px;
		}
		main{
padding:10px;
			flex:12;
			background:#fcc;
		}
		footer{
			padding:10px;
			background:#666;
			
			min-height:100px;
		}
	</style>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<nav>
		<ul>
			<li><a href="index.html">home</a></li>
			<li><a href="data.html">data page</a></li>
			<li><a href="chess.html">chess page</a></li>
			<li><a href="links.html">my links</a></li>
		</ul>
	</nav>
	
	<main>
		{{content}}
	</main>

	 <footer>
      &copy;
      <p>
		{{ layout.loc }}</p>
    </footer>
</body>
</html>